@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NavbarPos.cshtml";
}
<div class="container-fluid w-100">
    <div class="row">
        <div class="col-9 bg-secondary bg-opacity-10">

            <div class="container py-3">
                <div class="row">
                    <div class="px-3 col-4 justify-content-center">
                        <div class="input-group flex-nowrap ">
                            <span class="input-group-text bg-white border border-end-0" id="addon-wrapping"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></span>
                            <input type="text" class="form-control border border-start-0" placeholder="Search" aria-label="Search" aria-describedby="addon-wrapping">
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Categories List
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-4 text-end">
                        @Html.Partial("QRScanner")
                    </div>

                </div>


            </div>
            

            <div class="py-2  ">

                <div class="row row-cols-1 row-cols-md-4 g-3">
                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Mug 2 - Black.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Kopiko Blanca</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Mug 2 - Black.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Kopiko Blanca</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Mug 2 - Black.png" class="card-img-top" alt="...">
                            <div class="card-body">

                                <p class="card-title font-weight-bold">Kopiko Blanca</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Mug 2 - Black.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Kopiko Blanca</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Paper Cup - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Starsbacks</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Paper Cup - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Starsbacks</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Paper Cup - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Starsbacks</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Bean There - Paper Cup - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Starsbacks</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P110</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Been There - Donut Box - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Been There - Donut Box - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Been There - Donut Box - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Been There - Donut Box - White.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Medium Size Paper Coffee Cup with Donut.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay x Kapeng Matapang</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Medium Size Paper Coffee Cup with Donut.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay x Kapeng Matapang</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Medium Size Paper Coffee Cup with Donut.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay x Kapeng Matapang</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow-lg" style="width: 13rem;">
                            <img src="~/Image/Medium Size Paper Coffee Cup with Donut.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <p class="card-title font-weight-bold">Monay x Kapeng Matapang</p>


                                <div class="row">

                                    <div class="col-9">
                                        <p class="card-text">P50</p>
                                    </div>

                                    <div class="col-1">
                                        <button class="btn btn-success btn-sm" type="button"><i class="fa-solid fa-plus"></i></button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="col-3 sidenav d-flex flex-column min-vh-90">


            <div class="list-group">
                <div class="list-group-item " style="position:relative;">
                    <div class="d-flex w-100 justify-content-between align-items-start">
                        <span class="fw-bold">Kopiko Blanca</span>
                        <span class="badge bg-transparent text-black">Qty:1</span>
                        <span> @Html.Partial("Delete")</span>
                    </div>
                    <small class="fw-light">Remarks:</small><br />
                    <div class="row">
                        <div class="col-10">
                            <small class="fw-lighter">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                        </div>
                        <div class="col-2 p-1">
                            <p class="fw-bold" style="position: absolute; bottom:0;">P100</p>
                        </div>
                    </div>
                </div>

                <div class="list-group-item " style="position:relative;">
                    <div class="d-flex w-100 justify-content-between align-items-start">
                        <span class="fw-bold">Monay Matigas</span>
                        <span class="badge bg-transparent text-black">Qty:1</span>
                        <span> @Html.Partial("Delete")</span>
                    </div>
                    <small class="fw-light">Remarks:</small><br />
                    <div class="row">
                        <div class="col-10">
                            <small class="fw-lighter">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                        </div>
                        <div class="col-2 p-1">
                            <p class="fw-bold" style="position: absolute; bottom:0;">P420</p>
                        </div>
                    </div>
                </div>

                <div class="list-group-item " style="position:relative;">
                    <div class="d-flex w-100 justify-content-between align-items-start">
                        <span class="fw-bold">Red Horse</span>
                        <span class="badge bg-transparent text-black">Qty:2</span>
                        <span> @Html.Partial("Delete")</span>
                    </div>
                    <small class="fw-light">Remarks:</small><br />
                    <div class="row">
                        <div class="col-10">
                            <small class="fw-lighter">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small>
                        </div>
                        <div class="col-2 p-1">
                            <p class="fw-bold" style="position: absolute; bottom:0;">P330</p>
                        </div>
                    </div>
                </div>

            </div>


            <footer class="mt-auto w-100 " style="position: sticky; bottom: 0; min-height: 10em; background-color: hsl(0, 0%, 96%)">


              
                <div class="container-fluid p-3">
                    <div class="row">
                        <div class="col-9">
                            <small class="fw-bold">Total Items:</small>

                        </div>
                        <div class="col-3">
                            <small class="fw-bold">10</small>

                        </div>
                    

                    
                        <div class="col-9">
                            <small class="fw-bold">Total Price:</small>

                        </div>
                        <div class="col-3">
                            <small class="fw-bold">P900</small>

                        </div>
                    


                    
                        <div class="col-9">
                            <small class="fw-bold">Received Amount:</small>

                        </div>
                        <div class="col-3">
                            <small class="fw-bold">P1000</small>

                        </div>
                            
                        <div class="text-end py-2">

                            @Html.Partial("Checkout")
                        </div>
                  
                    
                </div>



</div>





            </footer>


        </div>
    </div>


</div>
